@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GummiBearKingdom.Models.Product

<html>
<head>
    <title>Gummi Bear Kingdom - Details</title>
</head>
<body>
    <div class="container details">
        <h2>PRODUCT DETAILS</h2>
        <hr />
        <br />
        <h2 class="product-name"><strong>@Html.DisplayFor(model => model.Name)</strong></h2>
        <h3><strong>@Html.DisplayNameFor(model => model.Cost):</strong> $@Html.DisplayFor(model => model.Cost)</h3>
        <h3><strong>@Html.DisplayNameFor(model => model.Description):</strong> @Html.DisplayFor(model => model.Description)</h3>
        <h3><strong>@Html.DisplayNameFor(model => model.Country):</strong> @Html.DisplayFor(model => model.Country)</h3>
        <br />
        <hr />

        <h3>@Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) | @Html.ActionLink("Delete", "Delete", new { id = Model.ProductId })</h3>
        <h3>
        
        @Html.ActionLink("Add a New Product", "Create") |
        @Html.ActionLink("View All Products", "Index")
    </h3>
</div>
</body>
</html>