@model GummiBearKingdom.Models.Product

<html>
<head>
    <title>Gummi Bear Kingdom - Details</title>
</head>
<body>
    <h2>Product Details</h2>
    <hr />
    <h3><strong>@Html.DisplayNameFor(model => model.Name):</strong> @Html.DisplayFor(model => model.Name)</h3>
    <h3><strong>@Html.DisplayNameFor(model => model.Cost):</strong> @Html.DisplayFor(model => model.Cost)</h3>
    <h4><strong>@Html.DisplayNameFor(model => model.Description):</strong> @Html.DisplayFor(model => model.Description)</h4>
    <h4><strong>@Html.DisplayNameFor(model => model.Country):</strong> @Html.DisplayFor(model => model.Country)</h4>
</body>
</html>