@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GummiBearKingdom.Models.Product

<html>
<head>
    <title>Gummi Bear List - Edit</title>
</head>
<body>
    <div class="container edit-form">

        <h2>EDIT THIS PRODUCT:<strong> @Html.DisplayFor(model => model.Name)</strong></h2>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.ProductId)


            <h3>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
            </h3>
            <br />
            <h3>
                @Html.LabelFor(model => model.Description)
                @Html.EditorFor(model => model.Description)
            </h3>
            <br />
            <h3>
                @Html.LabelFor(model => model.Cost)
                @Html.EditorFor(model => model.Cost)
            </h3>
            <br />
            <h3>
                @Html.LabelFor(model => model.Country)
                @Html.EditorFor(model => model.Country)
            </h3>
            <br />

            <input class="btn btn-lg btn-default" type="submit" value="SAVE" />
        }
    </div>

</body>
</html>